#title {
   
    padding: 2% 5%;
    font-size: 20px;
}
.navbar-brand{
    font-size: 60px;
    font-family: 'Lobster';
}
#home {
    background-color:#f1d6db;
    
}
h1 {
    
    text-align: center;
    padding: 30px 10px;
    font-family: 'Montserrat';
    font-size: 30px;
}
.vlog {
    background-color:#F0D9FF;
    font-family: 'Allison', cursive;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
    padding: 20px 10px;
    
   
  
}
.vacimg {
    margin-top: 80px ;
    align-items: center;
    position:relative;
    left: 60px;

}
.carousel-item {
    padding: 100px 150px;
}