#title {
   
    padding: 2% 5%;
    font-size: 20px;
}
.navbar-brand{
    font-size: 60px;
    font-family: 'Lobster';
}
#home {
    background-color:#f1d6db;
    
}
h1 {
    
    text-align: center;
    padding: 30px 10px;
    font-family: 'Montserrat';
    font-size: 30px;
}
.vlog {
    background-color:#F0D9FF;
    font-family: 'Allison', cursive;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 30px;
    padding: 20px 10px;
    
   
  
}
.vacimg {
    margin-top: 2% ;
    align-items: center;
    height: 255px;

}
.carousel-item {
    padding: 10% 2%;
}
.wp {
    background-color: yellow;
    text-align: center;
}
#au {
    margin: 5% 0% 4%;
    text-align: center;
    padding: 0% 10% 4%;
    background-color: aqua;
    font-size: 200%;
}
